input, select {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .header {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 25px;
  }
  .container{ 
      display: flex;
      // background-color: aqua;
      flex-flow: row wrap;
  }
  .item{
    // background-color: blueviolet;
    flex:1 0 150px;

    height: 100%;
  }
  .item2{
    display: flex;
    // background-color:burlywood;
    flex:2 0 400px;
    height: 100%;
    flex-direction: column;
    .in-side-item{
      font-size: 30px;
      font-weight: bold;
      padding: 30px;
      border-bottom: 1px solid silver;
      text-transform: capitalize;    
    }
  }
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .ticket-cnt{
     flex-flow: row wrap;
     gap:20px;
     width: 100%;
  }
  .ticket{
    flex: 1 0 200px;
    width: 400px;
    display: inline-flex;
    padding: 25px 25px 0px 25px;
  }
  .width100{
    width: 100%;
  }
