<div class="tkt-container">
    <div class="left height100">
        <div class="price">RS.{{data.price}}</div>
        <div class="info">
            <div class="in_info ">
               <div>{{data.AirportCode}}</div>
               <div>PNQ>{{data.from}}</div>
               <div>DEPART:{{data.depTime}}</div>
               <div>ARRIVE:{{data.arrTime}}</div>
            </div>
            <div class="in_info">
                <div>{{data.AirportCode}}</div>
                <div>PNQ>{{data.to}}</div>
                <div>DEPART:{{data.depTime}}</div>
                <div>ARRIVE:{{data.arrTime}}</div>
            </div>


        </div>
    </div>
    <div class="right height100">
      <div><i class="fa fa-envelope-o icon"></i></div>
      <div class="text">Book Flight</div>
    </div>
</div>